<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit your post</h1>
    <h3>post id : <%= data.id %></h3>
    <h4>@<%= data.username %></h4>
    <form action="/posts/<%= data.id %>?_method=PATCH" method="post">
        <textarea name="content" id="content" rows="20" cols="20"><%= data.content %></textarea>
        <button>Click Me</button>
    </form>
</body>
</html>