<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show In Detail</title>
</head>
<body>
    <h1>Here is your post in detail</h1>
    <h3>id : <%= data.id %></h3>
    <h4>username : <%= data.username %></h4>
    <p><b>content :</b> <%= data.content %></p>
</body>
</html>